//
// Created by Tyler Wade on 10/12/25.
//
// This file contains sensitive information such as WiFi credentials and API keys.
// Rename this file to secrets.h and replace the placeholder values with your actual credentials.
// Place this file in src/ directory.

#ifndef SECRETS_H
#define SECRETS_H

#pragma once

// Wifi Config
#define WIFI_SSID "Your SSID"
#define WIFI_PASSWORD "Your Password"

// Auth Config
#define AUTH_SERVICE_URL "http://<private ip address>:8083"
#define AUTH_SERVICE_TOKEN_ENDPOINT "http://<private ip address>:8083/realms/corsairops/protocol/openid-connect/token"
#define AUTH_SERVICE_CLIENT_ID "asset-tracker-iot"
#define AUTH_SERVICE_CLIENT_SECRET "<client secret>"

// Asset Config
#define ASSET_ID "9b41b4df-c48e-4783-9df3-28916e48f111"
#define ASSET_API_URL "http://<private ip address>:9000/api/assets"

#endif //SECRETS_H
